.appContainer {
  border: solid red 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoList {
  border: solid blue 1px;
}

.todoForm {
  border: solid green 1px;
}

.todoItem {
  text-align: center;
  border: solid orange 1px;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background: gray;
  margin: 4px;
}

.completed {
  text-decoration: line-through;
}
